<a href="https://colab.research.google.com/github/YaduSM001/Datascience-assignment/blob/main/Copy_of_Pandas_Tasks_adult_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

read the data

In [ ]:
import pandas as pd


file_path =  '/content/adult.csv'

df = pd.read_csv('/content/adult.csv')


print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Display the first 5 rows of the dataset.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

print(df.head())

   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

summary of the DataFrame

In [ ]:
import pandas as pd


df = pd.read_csv('/content/adult.csv')

print("DataFrame Info:")
print(df.info())

print("\nStatistical Summary:")
print(df.describe())

print("\nFirst 5 Rows:")
print(df.head())


print("\nColumn Names:")
print(df.columns)

print("\nMissing Values:")
print(df.isnull().sum())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB
None

Statistical Summary:
                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

First 5 Rows:
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Column Names:
Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

Missing Values:
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

descriptive statistics for numeric columns

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

print("Descriptive Statistics:")
print(df.describe())

Descriptive Statistics:
                age        fnlwgt  educational-num  capital-gain  \
count  48842.000000  4.884200e+04     48842.000000  48842.000000
mean      38.643585  1.896641e+05        10.078089   1079.067626
std       13.710510  1.056040e+05         2.570973   7452.019058
min       17.000000  1.228500e+04         1.000000      0.000000
25%       28.000000  1.175505e+05         9.000000      0.000000
50%       37.000000  1.781445e+05        10.000000      0.000000
75%       48.000000  2.376420e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  48842.000000    48842.000000
mean      87.502314       40.422382
std      403.004552       12.391444
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000

Display the column names of the DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')
print("Column Names:")
print(df.columns)

Column Names:
Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

unique values in the 'workclass' column.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')
unique_workclass_values = df['workclass'].unique()
print("Unique values in 'workclass' column:")
print(unique_workclass_values)

Unique values in 'workclass' column:
['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']

Create a new column 'income_binary' where <=50K is 0 and >50K is 1.

Create a new column 'age_group' categorizing ages into 'Youth' (< 30), 'Adult' (30-60), and 'Senior' (60+).

In [ ]:
import pandas as pd


df = pd.read_csv('/content/adult.csv')


df['income_binary'] = df['income'].apply(lambda x: 1 if x.strip() == '>50K' else 0)


print("DataFrame with 'income_binary' column:")
print(df[['income', 'income_binary']].head())

DataFrame with 'income_binary' column:
  income  income_binary
0  <=50K              0
1  <=50K              0
2   >50K              1
3   >50K              1
4  <=50K              0

Rename the 'educational-num' column to 'education_num'.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

df.rename(columns={'educational-num': 'education_num'}, inplace=True)


print("DataFrame with renamed column:")
print(df.head())

DataFrame with renamed column:
   age  workclass  fnlwgt     education  education_num      marital-status  \
0   25    Private  226802          11th              7       Never-married
1   38    Private   89814       HS-grad              9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm             12  Married-civ-spouse
3   44    Private  160323  Some-college             10  Married-civ-spouse
4   18          ?  103497  Some-college             10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male             0             0
1    Farming-fishing      Husband  White    Male             0             0
2    Protective-serv      Husband  White    Male             0             0
3  Machine-op-inspct      Husband  Black    Male          7688             0
4                  ?    Own-child  White  Female             0             0

   hours-per-week native-country income
0              40  United-States  <=50K
1              50  United-States  <=50K
2              40  United-States   >50K
3              40  United-States   >50K
4              30  United-States  <=50K

Replace the missing values represented by '?' in 'workclass' and 'occupation' columns with 'Unknown'.

In [ ]:
import pandas as pd


df = pd.read_csv('/content/adult.csv')


df[['workclass', 'occupation']] = df[['workclass', 'occupation']].replace('?', 'Unknown')


print("DataFrame after replacing '?' with 'Unknown':")
print(df[['workclass', 'occupation']].head())

DataFrame after replacing '?' with 'Unknown':
   workclass         occupation
0    Private  Machine-op-inspct
1    Private    Farming-fishing
2  Local-gov    Protective-serv
3    Private  Machine-op-inspct
4    Unknown            Unknown

Calculate the average age for each workclass.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

average_age_by_workclass = df.groupby('workclass')['age'].mean()
print("Average Age for Each Workclass:")
print(average_age_by_workclass)

Average Age for Each Workclass:
workclass
?                   40.141122
Federal-gov         42.577514
Local-gov           41.676020
Never-worked        19.900000
Private             36.903144
Self-emp-inc        45.799410
Self-emp-not-inc    45.332470
State-gov           39.512367
Without-pay         47.285714
Name: age, dtype: float64

Find the total capital-gain for each gender.

In [ ]:
import pandas as pd


df = pd.read_csv('/content/adult.csv')

total_capital_gain_by_gender = df.groupby('gender')['capital-gain'].sum()

print("Total Capital Gain for Each Gender:")
print(total_capital_gain_by_gender)

Total Capital Gain for Each Gender:
gender
Female     9403120
Male      43300701
Name: capital-gain, dtype: int64

Get the count of each marital-status category.

In [ ]:
import pandas as pd


df = pd.read_csv('/content/adult.csv')


marital_status_counts = df['marital-status'].value_counts()


print("Count of Each Marital Status Category:")
print(marital_status_counts)

Count of Each Marital Status Category:
marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

Find the mean hours-per-week worked by individuals in different education levels.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

mean_hours_by_education = df.groupby('education')['hours-per-week'].mean()

print("Mean Hours Worked Per Week by Education Level:")
print(mean_hours_by_education)

Mean Hours Worked Per Week by Education Level:
education
10th            36.986321
11th            33.952539
12th            35.374429
1st-4th         38.761134
5th-6th         38.923379
7th-8th         39.003141
9th             38.359788
Assoc-acdm      40.809494
Assoc-voc       41.658418
Bachelors       42.482492
Doctorate       46.582492
HS-grad         40.640775
Masters         43.575837
Preschool       36.566265
Prof-school     47.579137
Some-college    38.865784
Name: hours-per-week, dtype: float64

Calculate the mean, median, and standard deviation of 'fnlwgt' for each race.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

stats_by_race = df.groupby('race')['fnlwgt'].agg(['mean', 'median', 'std'])

print("Mean, Median, and Standard Deviation of 'fnlwgt' by Race:")
print(stats_by_race)

Mean, Median, and Standard Deviation of 'fnlwgt' by Race:
                             mean    median            std
race
Amer-Indian-Eskimo  120110.985106  101579.0   94655.908850
Asian-Pac-Islander  159796.946675  139850.0   86997.647681
Black               230485.070438  208266.0  125445.929357
Other               195715.689655  188066.5   94063.712981
White               186894.995738  177287.0  102637.466726

Get the unique values and their counts for the 'native-country' column

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')
native_country_counts = df['native-country'].value_counts()

print("Unique Values and Their Counts for 'native-country':")
print(native_country_counts)

Unique Values and Their Counts for 'native-country':
native-country
United-States                 43832
Mexico                          951
?                               857
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

Filter the dataset to include only individuals with income >50K.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')
df_high_income = df[df['income'].str.strip() == '>50K']

print("Filtered DataFrame (Income >50K):")
print(df_high_income.head())

Filtered DataFrame (Income >50K):
    age         workclass  fnlwgt     education  educational-num  \
2    28         Local-gov  336951    Assoc-acdm               12
3    44           Private  160323  Some-college               10
7    63  Self-emp-not-inc  104626   Prof-school               15
10   65           Private  184454       HS-grad                9
14   48           Private  279724       HS-grad                9

        marital-status         occupation relationship   race gender  \
2   Married-civ-spouse    Protective-serv      Husband  White   Male
3   Married-civ-spouse  Machine-op-inspct      Husband  Black   Male
7   Married-civ-spouse     Prof-specialty      Husband  White   Male
10  Married-civ-spouse  Machine-op-inspct      Husband  White   Male
14  Married-civ-spouse  Machine-op-inspct      Husband  White   Male

    capital-gain  capital-loss  hours-per-week native-country income
2              0             0              40  United-States   >50K
3           7688             0              40  United-States   >50K
7           3103             0              32  United-States   >50K
10          6418             0              40  United-States   >50K
14          3103             0              48  United-States   >50K

Sort the dataset by age in descending order.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

df_sorted = df.sort_values(by='age', ascending=False)

print(df_sorted.head())

       age  workclass  fnlwgt education  educational-num      marital-status  \
40519   90          ?  166343   1st-4th                2             Widowed
21553   90    Private  141758       9th                5       Never-married
47977   90          ?  313986   HS-grad                9  Married-civ-spouse
21651   90  Local-gov  227796   Masters               14  Married-civ-spouse
41584   90          ?  175444   7th-8th                4           Separated

            occupation   relationship   race  gender  capital-gain  \
40519                ?  Not-in-family  Black  Female             0
21553     Adm-clerical  Not-in-family  White  Female             0
47977                ?        Husband  White    Male             0
21651  Exec-managerial        Husband  White    Male         20051
41584                ?  Not-in-family  White  Female             0

       capital-loss  hours-per-week native-country income
40519             0              40  United-States  <=50K
21553             0              40  United-States  <=50K
47977             0              40  United-States   >50K
21651             0              60  United-States   >50K
41584             0              15  United-States  <=50K

Filter the dataset to include only individuals who work more than 40 hours per week.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

df_filtered = df[df['hours-per-week'] > 40]

print(df_filtered.head())

    age workclass  fnlwgt  education  educational-num      marital-status  \
1    38   Private   89814    HS-grad                9  Married-civ-spouse
14   48   Private  279724    HS-grad                9  Married-civ-spouse
15   43   Private  346189    Masters               14  Married-civ-spouse
19   40   Private   85019  Doctorate               16  Married-civ-spouse
20   34   Private  107914  Bachelors               13  Married-civ-spouse

           occupation relationship                race gender  capital-gain  \
1     Farming-fishing      Husband               White   Male             0
14  Machine-op-inspct      Husband               White   Male          3103
15    Exec-managerial      Husband               White   Male             0
19     Prof-specialty      Husband  Asian-Pac-Islander   Male             0
20       Tech-support      Husband               White   Male             0

    capital-loss  hours-per-week native-country income
1              0              50  United-States  <=50K
14             0              48  United-States   >50K
15             0              50  United-States   >50K
19             0              45              ?   >50K
20             0              47  United-States   >50K

Calculate the median income by education level and gender.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

median_income_by_education_gender = df.groupby(['education', 'gender'])['income'].apply(lambda x: x.str.strip().map({'<=50K': 0, '>50K': 1}).median())

print(median_income_by_education_gender)

education     gender
10th          Female    0.0
              Male      0.0
11th          Female    0.0
              Male      0.0
12th          Female    0.0
              Male      0.0
1st-4th       Female    0.0
              Male      0.0
5th-6th       Female    0.0
              Male      0.0
7th-8th       Female    0.0
              Male      0.0
9th           Female    0.0
              Male      0.0
Assoc-acdm    Female    0.0
              Male      0.0
Assoc-voc     Female    0.0
              Male      0.0
Bachelors     Female    0.0
              Male      1.0
Doctorate     Female    1.0
              Male      1.0
HS-grad       Female    0.0
              Male      0.0
Masters       Female    0.0
              Male      1.0
Preschool     Female    0.0
              Male      0.0
Prof-school   Female    0.0
              Male      1.0
Some-college  Female    0.0
              Male      0.0
Name: income, dtype: float64

Find the top 3 occupations with the highest average capital-gain.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

top_occupations = df.groupby('occupation')['capital-gain'].mean().nlargest(3)

print(top_occupations)

occupation
Prof-specialty     2745.918017
Exec-managerial    2277.755504
Sales              1266.898256
Name: capital-gain, dtype: float64

Filter the dataset to include individuals who are 'Married-civ-spouse' and have an income >50K.

In [ ]:
import pandas as pd

df = pd.read_csv('/content/adult.csv')

filtered_df = df[(df['marital-status'] == 'Married-civ-spouse') & (df['income'].str.strip() == '>50K')]

print(filtered_df.head())

    age         workclass  fnlwgt     education  educational-num  \
2    28         Local-gov  336951    Assoc-acdm               12
3    44           Private  160323  Some-college               10
7    63  Self-emp-not-inc  104626   Prof-school               15
10   65           Private  184454       HS-grad                9
14   48           Private  279724       HS-grad                9

        marital-status         occupation relationship   race gender  \
2   Married-civ-spouse    Protective-serv      Husband  White   Male
3   Married-civ-spouse  Machine-op-inspct      Husband  Black   Male
7   Married-civ-spouse     Prof-specialty      Husband  White   Male
10  Married-civ-spouse  Machine-op-inspct      Husband  White   Male
14  Married-civ-spouse  Machine-op-inspct      Husband  White   Male

    capital-gain  capital-loss  hours-per-week native-country income
2              0             0              40  United-States   >50K
3           7688             0              40  United-States   >50K
7           3103             0              32  United-States   >50K
10          6418             0              40  United-States   >50K
14          3103             0              48  United-States   >50K