<a href="https://colab.research.google.com/github/YaduSM001/Datascience-assignment/blob/main/PRACTICE_EXERCISES_ON_PYTHON_BASICS_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#***PRACTICE EXERCISES ON PYTHON BASICS -2***

***1.Write a Python program to accept a string value from the user and display
the count of each character in that string. Sample input: Enter a string
value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1***

In [ ]:
def count_characters(input_string):

    char_count = {}


    for char in input_string:

        if char in char_count:
            char_count[char] += 1

        else:
            char_count[char] = 1


    formatted_output = ', '.join(f'{char}={count}' for char, count in char_count.items())
    return formatted_output


user_input = input("Enter a string value: ")


print(count_characters(user_input))

Enter a string value: assembly
a=1, s=2, e=1, m=1, b=1, l=1, y=1

***2.Write a Python function to find the maximum of three numbers Sample
input: 34,12,7 Sample output: 34***

In [ ]:
def find_maximum(a, b, c):

    return max(a, b, c)


num1 = 34
num2 = 12
num3 = 7

max_number = find_maximum(num1, num2, num3)
print(f"The maximum of {num1}, {num2}, {num3} is: {max_number}")

The maximum of 34, 12, 7 is: 34

***3. Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input: Enter the
base: 2 Enter the exponent: 3 Sample output: 8***

In [ ]:
def exponent(base, exp):

    return base ** exp


base = int(input("Enter the base: "))
exp = int(input("Enter the exponent: "))


result = exponent(base, exp)
print(f"{base} raised to the power of {exp} is: {result}")

Enter the base: 2
Enter the exponent: 3
2 raised to the power of 3 is: 8

***4. Write a Python function that takes a positive integer and returns the sum
of the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.***

In [ ]:
def sum_of_cubes(n):

    return sum(i**3 for i in range(1, n))


number = int(input("Enter a positive integer: "))


result = sum_of_cubes(number)
print(f"The sum of the cubes of all positive integers smaller than {number} is: {result}")

Enter a positive integer: 4
The sum of the cubes of all positive integers smaller than 4 is: 36

***5.Write a Python program which iterates from 1 to 10. For multiples of 2,
print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.
For numbers which are multiples of both 2 and 5, print “FizzBuzz”.
Sample input: numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz
Fizz 7 Fizz 9 FizzBuzz***

In [ ]:
def fizz_buzz():

    for i in range(1, 11):

        if i % 2 == 0 and i % 5 == 0:
            print("FizzBuzz", end=" ")

        elif i % 2 == 0:
            print("Fizz", end=" ")

        elif i % 5 == 0:
            print("Buzz", end=" ")

        else:
            print(i, end=" ")


fizz_buzz()

1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

***6.Write a Python program to find the most frequent item in a list of
numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2***

In [1]:
from collections import Counter

numbers = [2, 3, 4, 2, 5, 2]
most_frequent = Counter(numbers).most_common(1)[0][0]

print(most_frequent)

2

***7. Write a Python program to find the sum of squares of the numbers in a
list. Sample input: 2,1,3,1 Sample output: 15***

In [2]:
numbers = [2, 1, 3, 1]
sum_of_squares = sum(x**2 for x in numbers)

print(sum_of_squares)

15

***8. Write a Python program using for loop that will iterate from 1 to 15. For
each iteration, check if the current number is odd or even, and display the
message to the screen as odd or even. Sample input: 1….15 Sample
output: 1-odd 2-even …. 15-odd***

In [3]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

***9. Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit
=41 Sample output: Temperature in Celsius =5***

In [4]:
f = 41
c = (f - 32) * 5 / 9

print(f"Temperature in Celsius = {c:.2f}")

Temperature in Celsius = 5.00

***10. Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6***

In [5]:
def factorial(n):
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

print(factorial(3))

6